/*======= Header =======*/
header{
    background-color: #000;
}

/* Header Info ================*/
.HeaderInfo{
    position: relative;
    max-width:90%;
    min-height: 66px;
    margin: auto;
    background-color: #000;
}

/* Logo =====================*/
.Logo {
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
}

/* Navigation =================*/
.Navigation{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.menu-wrap{
    position: relative;
    display:inline-flex;
}

.menu-wrap li{
    padding:23px 18px;
}

.menu-wrap li a{
    font-size: 17px;
    color:#fff;
    font-weight: bold;
}

.menu-wrap li:nth-child(-n+3) a:hover{
    border-bottom: 1px solid #fff;
}

.menu-item-102-sub-menu{
    display:none;
    justify-content: center;
    position: absolute;
    bottom:-100%;
    left:0px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border-bottom: 1px solid #b1b1b1;
}

.menu-item-102-sub-menu li a{
    font-size: 16px;
    color:#000;
}

.menu-item-102-sub-menu li a:hover{
    text-decoration: underline;
}

.menu-item-104 a{
    position: relative;
    padding:2px 30px 2px 12px;
    border-radius: 30px;
    color:#fff;
    background-color: #f147ac;
}

.menu-item-104 a::after{
    position: absolute;
    top:50%;
    right:9px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-size: 14px;
    background-image: url(../img/ico_head_blank_w.svg);
    content: "";
}

/* tablet, mobile, nav ===================================*/
.ResponseNav{
    display:none;
}


/* Header Search =====================*/
.HeaderSearch{
    position: relative;
    position: absolute;
    top:50%;
    right:8%;
    transform: translateY(-50%);
}

.HeaderSearch-link{
    width:29px;
    height: 27px;
}

.HeaderSearch-open{
    position: absolute;
    top:0px;
    right:0px;
    width:29px;
    height: 27px;
    background-size: 29px 27px;
    background-image: url(../img/ico_search.svg);
}

.HeaderSearch-close{
    display: none;
    position: absolute;
    top:0px;
    right:0px;
    width:29px;
    height: 27px;
    background-size: 29px 27px;
    background-image: url(../img/ico_search_close.svg);
}

.HeaderSearchBar{
    display:none;
    position: absolute;
    top:0px;
    left:-340px;
    transform: translateY(-20%);
    padding:8px 64px 8px 43px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.HeaderSearchBar::before{
    position: absolute;
    top:50%;
    left:5%;
    transform: translateY(-50%);
    width:16px;
    height: 16px;
    background-size: 16px 16px;
    background-image: url(../img/ico_search.svg);
    content: "";
}

.HeaderSearchBar-input{
    min-width: 212px;
    min-height: 23px;
    border:none;
    color: #fff;
    background-color: transparent;
}

.HeaderSearchBar-input:focus{
    outline: none;
}

.HeaderSearchBar-submit{
    position: relative;
    position: absolute;
    top:50%;
    right:5%;
    transform: translateY(-50%);
    width:31px;
    height: 29px;
    border:none;
    border-radius:5px;
    background-color: #000;
}

.HeaderSearchBar-submit:hover{
    background-color: #f147ac;
}

.HeaderSearchBar-submit::after{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:17px;
    height:13px;
    background-size: 17px 13px;
    background-image: url(../img/ico_search_arrow.svg);
    content: "";
}

/* Language =================*/
.SiteLang{
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
}

.lang-wrap{
    display: inline-flex;
}

.lang-wrap li{
    font-size: 17px;
    font-weight: bold;
    color:#fff;
}

.lang-wrap .lang-item-101{
    margin-right:10px;
    border-bottom: 1px solid #fff;
}

/* Main ====================*/
main{
    max-width:90%;
    margin: auto;
}

.Hero{
    height: 565px;
    padding:67px 0px 87px 0px;
}

.HeroSlide{
    position: relative;
    display: flex;
    height: 100%;
}

/* HeroSlide-text =====================*/
.HeroSlide-text{
    width:67%;
}

.HeroSlide-subtext{
    margin-bottom:30px;
    font-size: 27px;
    font-weight: bold;
    color: #f147ac;
}

.HeroSlideTitleText{
    font-size: 63px;
    line-height: 85px;
}

.HeroSlideTextInfo{
    position: absolute;
    bottom:0px;
}

.HeroSlideTextInfo div{
    margin-top:3px;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
}

.HeroSlideArrow{
    position: absolute;
    bottom:0%;
    right:35%;
    width: 205px;
    height: 205px;
    background-size: 205px;
    background-image: url(../img/ico_hero_arrow.svg);
}

/* HeroSlide-thumb =====================*/
.HeroSlide-thumb{
    position: relative;
    width:33%;
    overflow: hidden;
}

.HeroSlide-thumb-wrap{
    display:flex;
    transition: all 1s;
}

.HeroSlide-thumb-wrap div{
    flex-shrink: 0;
    width:100%;
    overflow: hidden;
}

.HeroSlide-thumb-wrap img{
    width:100%;
}

.HeroSlide-thumb-indicator{
    position: absolute;
    bottom:-7%;
    right:14%;
}

.HeroSlide-thumb-indicator span{
    display: inline-block;
    width: 11px;
    height:11px;
    margin:0px 5px;
    border-radius: 100%;
    background-color: #e8e8e8;
}

.HeroSlide-thumb-indicator .focus{
    background-color: #000;
}

.HeroSlide-thumb-category{
    position: absolute;
    top:56px;
    right: -140px;
    transform: rotate(270deg);
    font-size: 25px;
    font-weight: 600;
}

.HeroSlide-thumb-category::after{
    position: absolute;
    bottom:0px;
    right:386px;
    width:180px;
    height:50px;
    background-size: 130px 50px;
    background-image: url(../img/bg-barcode.png);
    content: "";
}

/* MainGuide ===============================*/
.MainGuideFlex{
    margin-bottom:180px;
}

.site-container{
    display:flex;
}

/*MainGuideTitle ============================*/
.MainGuideTitle{
    position: relative;
    width:20%;
    height:155px;
    padding:40px 43px;
    background-color: #000;
}

.MainGuideInfo{
    display: inline-block;
    width:100%;
    height:100%;
}

.MainGuideInfo::before{
    position: absolute;
    bottom:15%;
    right:8%;
    width:115px;
    height: 95px;
    background-size: 115px 95px;
    background-image: url(../img/ico_map.png);
    content: "";
}

.MainGuideInfo-cate-title-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 3em;
    color:#fff
}

.MainGuideInfo-title-text{
    font-size: 27px;
    color:#fff;
}

/* MdGuide ===========================*/
.MdGuide{
    display:flex;
    width:80%;
    padding:40px 43px;
    background-color: #f8f8f8;
}

.MdGuideTitle{
    width:40%;
    padding:0px 32px 20px 0px;   
}

.MdGuideInfo-cate-title-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 3em;
}

.MdGuideInfo-title-text{
    font-size: 27px;
    line-height: 1.5em;
}

.MdGuideList{
    width:60%;
    margin-top:50px;
}

.MdGuideList-list{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width:100%;
    height: 100%;
}

.MdGuideList-list li{
    position: relative;
    width:219px;
    border-bottom: 1px solid black;
    text-align: end;
}

.MdGuideList-title{
    padding-bottom:10px;
    font-size: 20px;
    font-weight: 500;
}

.MdGuideList-item-ico-Parking::before{
    position: absolute;
    bottom: 10px;
    left:0px;
    width:71px;
    height:85px;
    background-size: 71px 85px;
    background-image: url(../img/ico_guide_1.svg);
    content: "";
}

.MdGuideList-item-ico-Directions::before{
    position: absolute;
    bottom: 10px;
    left:0px;
    width:65px;
    height:89px;
    background-size: 65px 89px;
    background-image: url(../img/ico_guide_2.svg);
    content: "";
}

.MdGuideList-item-ico-Amenities::before{
    position: absolute;
    bottom: 10px;
    left:0px;
    width:93px;
    height:87px;
    background-size: 93px 87px;
    background-image: url(../img/ico_guide_3.svg);
    content: "";
}

/* MainEventSlide ================================*/
.MainEventSlide{
    margin-bottom:155px;
    min-height: 1290px;
}

/* MainEventSlideTitle ==============================*/
.MainEventSlideTitle{
    position: relative;
    float: left;
    width:50%;
    height:430px;
}

.MainEventSlideTitle-textcontainer{
    position: relative;
    display: inline-flex;
}

.MainEventSlideTitle-text{
    font-size: 50px;
    font-weight: bold;
}

.MainEventSlideTitle-count{
    position: absolute;
    right:-50px;
    font-size: 25px;
    font-weight: 500;
}

.MainEventSlideTitleInfo{
    position: absolute;
    bottom:15%;
    padding:0px 20px 0px 40px;
    font-size: 18px;
    font-weight: 500;
}

.MainEventSlideTitleInfo-click::before{
    position: absolute;
    bottom:-5px;
    left:0px;
    width:30px;
    height:26px;
    background-size: 30px 26px;
    background-image: url(../img/ico_calender.svg);
    content:"";
}

.MainEventSlideTitleInfo-click::after{
    position: absolute;
    bottom:0px;
    right:0px;
    width:15px;
    height: 15px;
    background-size: 15px;
    background-image: url(../img/ico_more_arrow_b.svg);
    content: "";
}

/* MainEventSlideTitleItem ================================*/
.MainEventSlideItem{
    position: relative;
    float: left;
    width:25%; 
    height:430px;
    cursor: pointer;
}

/* MainEventSlideItem-inner =================================*/
.MainEventSlideItem-inner{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    border-left: 2px solid black;
}

.MainEventSlideItem-inner::before{
    position:absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:2px;
    background-color: #000;
    content: "";
}

.MainEventSlideItem:nth-child(4) .MainEventSlideItem-inner:nth-child(1){
    border: none;
}
.MainEventSlideItem:nth-child(8) .MainEventSlideItem-inner:nth-child(1){
    border: none;
}

.MainEventSlideItem:nth-child(8) .MainEventSlideItem-inner:nth-child(1)::after{
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:2px;
    background-color: #000;
    content: "";
}
.MainEventSlideItem:nth-child(9) .MainEventSlideItem-inner:nth-child(1)::after{
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:2px;
    background-color: #000;
    content: "";
}
.MainEventSlideItem:nth-child(10) .MainEventSlideItem-inner:nth-child(1)::after{
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:2px;
    background-color: #000;
    content: "";
}
.MainEventSlideItem:nth-child(11) .MainEventSlideItem-inner:nth-child(1)::after{
    position:absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height:2px;
    background-color: #000;
    content: "";
}

.MainEventSlideItem-inner-cate-purple{
    position: relative;
    margin-bottom:11px;
    padding-left:14px;
    font-size: 16px;
    font-weight: 600;
}

.MainEventSlideItem-inner-cate-purple::before{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    width:7px;
    height: 7px;
    border-radius: 100%;
    background-color: #8E49DE;
    content: "";
}

.MainEventSlideItem-inner-cate-pink{
    position: relative;
    margin-bottom:11px;
    padding-left:14px;
    font-size: 16px;
    font-weight: 600;
}

.MainEventSlideItem-inner-cate-pink::before{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    width:7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ED3DA6;
    content: "";
}

.MainEventSlideItem-inner-title{
    margin-bottom: 205px;
    height: 95px;
    font-size: 28px;
    line-height: 1.6em;
}

.MainEventSlideItem-inner-date{
    font-size: 20px;
    font-weight: 500;
}


/* MainEvebtSlideItem-img ===================================*/
.MainEventSlideItem-img{
    position: absolute;
    top:0px;
    left:0px;
    transition: all 0.5s;
    opacity: 0;
}

.MainEventSlideItem-img img{
    width:100%;
    height: 429px;
}

/* MainEvnetSlideMobileIndicator ==============================*/
.MainEvnetSlideMobileIndicator{
    display: none;
   }

/* MainTicket ================================================*/
.MainTicket{
    position: relative;
}

.MainTiceket-img-container{
    position: absolute;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    height:860px;
    overflow: hidden;
    z-index: -1;
}

.MainTiceket-img-container img{
    width:100%;
    min-height: 860px;
    filter: brightness(20%);
}

/* MainTiceket-inner-title ===============================*/
.MainTicket-inner{
    padding:72px 0px 65px 0px;
}

.MainTicket-inner-title{
    position: relative;
    display:inline-flex;
    margin-bottom:185px;
    color:#fff;
}

.MainTicket-inner-title-text{
    font-size: 50px;
}

.MainTicket-inner-title-count{
    position: absolute;
    right:-40px;
    top:0px;
    font-size: 30px;
    font-weight: 500;
}

/* MainTicket-inner-slide =====================================*/
.MainTicket-inner-slide{
    position: relative;
    width:65%;
    height: 356px;
    margin: auto;
    padding:80px 0px 48px 0px;
}

/* MainTicket-inner-slide-btn =================================*/
.MainTicket-inner-slide-btn{
    position:absolute;
    top:0px; 
    right:0px;
}

.MainTicket-inner-slide-btn-left{
    position: absolute;
    top:0px;
    right:90px;
    width:70px;
    height: 50px;
    background-size: 70px 50px;
    background-image: url(../img/ico_slide_prev.svg);
    cursor: pointer;
}

.MainTicket-inner-slide-btn-right{
    position: absolute;
    top:0px;
    right:0px;
    width:70px;
    height: 50px;
    background-size: 70px 50px;
    background-image: url(../img/ico_slide_next.svg);
    cursor: pointer;
}

/* MainTicket-inner-slide-wrap ================================*/

.MainTicket-inner-slide-wrap{
    display: flex;
    width:100%;
    height:100%;
    transition: all 1s;
}

.MainTicketItem{
    flex-shrink: 0;
    position: relative;
    width:100%;
    height:100%;
    padding:0px 42px;
    box-sizing: border-box;
}


/* MainTicketItemInner====================*/
.MainTicketItemInner{
    display:flex;
    height: 100%;
    padding:22px;
    box-sizing: border-box;
    background-color: #fff;
}

/* MainTicketItemInner-img-container =======================*/
.MainTicketItemInner-img-container{
    width:30%;
}

.MainTicketItemInner-img-container img{
    width:100%;
    height: 100%;
}

/* MainTicketItemInner-title ==================================*/
.MainTicketItemInner-title{
    position: relative;
    width: 70%;
    padding:20px 0px 57px 46px;
}

.MainTicketItemInner-title-text{
    height: 83px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4em;
}

/* MainTicketItemLeft ===================================*/
.MainTicketItemLeft{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    width: 43px;
    height: 100%;
}

.MainTicketItemLeft-bg{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    width: 43px;
    height: 77%;
    background-color: #fff;
}

.MainTicketItemLeft-bg::before{
    position: absolute;
    top:-41px;
    left:0px;
    width:43px;
    height: 43px;
    background-size: 43px;
    background-image: url(../img/bg-ticket1.png);
    content: "";
}

.MainTicketItemLeft-bg::after{
    position: absolute;
    bottom:-41px;
    left:0px;
    width:43px;
    height: 43px;
    background-size: 43px;
    background-image: url(../img/bg-ticket3.png);
    content: "";
}

/* MainTicketItemInner-info===========================*/
.MainTicketItemInner-info{
    margin-top:30px;
}

.MainTicketItemInner-info-list{
    display:flex;
}

.MainTicketItemInner-info-item{
    width:33%;
}

.MainTicketItemInner-info-item-title{
    margin-bottom:15px;
    font-size: 13px;
    font-weight: bold;
}

.MainTicketItemInner-info-item-Dday{
    font-size: 38px;
}

.MainTicketItemInner-info-item-date{
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 500;
}

.MainTicketItemInner-info-item-locate{
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 500;
}

/* MainTicketItemInner-info-btn ===============================*/
.MainTicketItemInner-info-btn{
    position: absolute;
    bottom:0%;
    left:6.6%;
}

.MainTicketItemInner-info-btn-list{
    display:flex;
}

.MainTicketItemInner-info-btn-list-item{
    padding:19px 24px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
}

.MainTicketItemInner-info-btn-list-item:hover{
    color:#fff;
    background-color: black;
    transition: all 1s;
}

.MainTicketItemInner-info-btn-list-item:hover a{
    color:#fff;
}

.MainTicketItemInner-info-bg-img{
    position: absolute;
    bottom:0px;
    right:0%;
    width:205px;
    height:35px;
    background-size: 240px 43px;
    background-image: url(../img/bg-barcode.png);
}

/* MainTicketItemRight ===================================*/
.MainTicketItemRight{
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    width: 43px;
    height: 100%;
}

.MainTicketItemRight-bg{
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    width: 43px;
    height: 77%;
    border-right: 3px dashed #b1b1b1;
    background-color: #fff;
}

.MainTicketItemRight-bg::before{
    position: absolute;
    top:-41px;
    right:0px;
    width:43px;
    height: 43px;
    background-size: 43px;
    background-image: url(../img/bg-ticket2.png);
    content: "";
}

.MainTicketItemRight-bg::after{
    position: absolute;
    bottom:-41px;
    right:0px;
    width:43px;
    height: 43px;
    background-size: 43px;
    background-image: url(../img/bg-ticket4.png);
    content: "";
}

.MainTicket-inner-slide-wrap-indicator{
    position: absolute;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);
}

.MainTicket-inner-slide-wrap-indicator span{
    display: inline-block;
    width: 11px;
    height:11px;
    margin:0px 5px;
    border-radius: 100%;
    background-color: #707070;
    cursor: pointer;
}

.MainTicket-inner-slide-wrap-indicator .focus{
    background-color: #E8E8E8;
}

/* MainNews ===================================*/
.MainNews{
    padding:124px 0px 143px 0px;
}


/* MainNewsTitle ===============================*/
.MainNewsTitle{
    float: left;
    width:35%;
}

.MainNewsTitle-title{
    font-size: 50px;
    font-weight: 600;
}

.MainNewsTitle-info{
    margin-top:29px;
}

.MainNewsTitle-info a{
    position: relative;
    padding-right: 22px;
    font-size: 18px;
    font-weight: 600;
}

.MainNewsTitle-info a::after{
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    width:17px;
    height:16px;
    background-size: 17px 16px;
    background-image: url(../img/ico_more_arrow_b.svg);
    content: "";
}

/* MainNewsList =========================*/
.MainNewsList{
    display:flex;
    flex-direction: column;
}

.MainNewsListInfo{
    padding-bottom:32px;
    border-bottom: 3px solid black;
}

.MainNewsListInfo-list-item{
    float: left;
    padding-right:26px;
    font-size: 24px;
    font-weight: bold;
}

.MainNewsListInfo-list-item-click-off{
    color:#b9b9b9;
}

.MainNewsListInfo-list-item-click-on{
    color:black;
}

.MainNewsList-list-item-link{
    display: flex;
    align-items: center;
    padding:24px 13px;
    border-bottom: 1px solid black;
}

.MainNewsList-list-item-date{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.MainNewsList-list-item-date-day{
    font-size: 43px;
    font-weight: bold;
}

.MainNewsList-list-item-date-month{
    margin-top:10px;
    font-size: 15px;
    font-weight: 500;
}

.MainNewsList-list-item-title{
    padding-left:57px;
    font-size: 26px;
    font-weight: 600;
}

/* MainMedia =================================*/
.MainMedia-container{
    position: relative;
}

/* MainMediaText =============================*/
.MainMediaText{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    padding:120px 0px;
    box-sizing: border-box;
    z-index: 99;
}

.MainMediaText-title{
    height:50%;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.MainMeduaMetaList-list-item{
    margin-bottom: 34px;
}

.MainMeduaMetaList-list-item a{
    position: relative;
    padding-right:35px;
    font-size: 28px;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.2)
}

.MainMeduaMetaList-list-item a::after{
    display:none;
    position: absolute;
    top:50%;
    right:0px;
    transform: translateY(-50%);
    width:23px;
    height: 23px;
    background-size: 23px 23px;
    background-image: url(../img/ico_more_arrow_w.svg);
    content: "";
}

.MainMeduaMetaList-list-item a:hover{
    color:#fff;
}

.MainMeduaMetaList-list-item a:hover::after{
    display:block;
}

.MainMediaMetaSub{
    margin-top: 200px;
}

.MainMediaMetaSub-text{
    font-size: 70px;
    font-weight: 400;
    color:#fff;
}

/* MainMediaList ================================*/
.MainMediaList{
    position: absolute;
    top:0px;
    right:0px;
    padding:120px 0px 0px 0px;
    max-width:907px;
    box-sizing: border-box;
    z-index: 99;
}

.MainMedia-column{
    float: left;
    width:414px;
    height: 414px;
    margin:16px;
    overflow: hidden;
    cursor: pointer;
}

.MainMedia-column:nth-child(1){
    position: relative;
    top:100px;
}

.MainMedia-column:nth-child(3){
    position: relative;
    top:100px;
}

.MainMedia-column:nth-child(5){
    margin-left:462px;
}

.MainMedia-column:hover img{
    transform: scale(110%);
    transition: all 0.5s;
}

.MainMedia-column-img-transform{
    position: relative;
    bottom:39%;
    width:100%;
}

.MainMedia-column-img{
    width:100%;
}

.MainMeiaBackgroundImg{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.MainMeiaBackgroundImg img{
    width:100%;
    min-height: 1540px;
    filter: brightness(20%);
}
/* Footer ====================================*/
footer{
    position: relative;
    width:90%;
    margin: auto;
    margin-top:130px;
}

.TopButton{
    position: relative;
    position: absolute;
    top:-20%;
    right:0px;
    width: 43px;
    height: 43px;
    border: 2px solid black;
    background-color: transparent;
}

.TopButtonItem{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 18px;
    background-size: 19px 18px;
    background-image: url(../img/ico_scrollTop.svg);
}

/* FooterFlex ===============================*/
.FooterFlex{
    display:flex;
}

.FooterInfo{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:26px 20px 26px 0px;
    width:25%;
    height: 332px;
    border-right:1px solid black;
}

.FooterInfo::before{
    position: absolute;
    top:0px;
    left:0px;
    width:97%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterInfo::after{
    position: absolute;
    bottom:0px;
    left:0px;
    width:97%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterInfo-inner-logo{
    margin-bottom:30px;
}

.FooterInfoAddress li{
    font-size: 18px;
    margin-top:10px;
}

.FooterInfoTel{
    padding: 21px;
    text-align: center;
    background-color: #F7F7F7;
}

.FooterInfoTel a{
    font-size: 18px;
    font-weight: 500;
}

.FooterNav{
    width:25%;
}

.FooterNav-list{
    display:flex;
    flex-wrap: wrap;
}

.FooterNav-list-item{
    position: relative;
    width:50%;
    height: 192px;
    padding: 26px 0px 0px 20px;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.FooterNav-list-item::before{
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width:88%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterNav-list-item:nth-last-child(-n+2):after{
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:88%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterNav-list-item a{
    font-size: 21px;
    font-weight: 500;
}

.FooterLink{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:26px 20px;
    width:25%;
    height: 332px;
    border-right:1px solid black;
}

.FooterLink::before{
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterLink::after{
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterInfoList-item{
    margin-bottom:20px;
    font-size: 18px;
    font-weight: 500;
}

.FooterSnsList{
    display: flex;
}

.FooterSnsList-item{
    position: relative;
    margin-right: 8px;
    width:47px;
    height: 47px;
    border: 1px solid black;
    border-radius: 100%;
}

.FooterSnsList-item-instagram{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url(../img/ico_instargram.svg);
}

.FooterSnsList-item-youtube{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 15px;
    background-size: 21px 15px;
    background-image: url(../img/ico_youtube.svg);
}

.FooterSnsList-item-facebook{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 18px;
    background-size: 10px 18px;
    background-image: url(../img/ico_facebook.svg);
}

.FooterSnsList-item-twitter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 17px;
    background-size: 19px 17px;
    background-image: url(../img/ico_twitter.svg);
}

.FooterSnsList-item-naverblog{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 21px;
    background-size: 25px 21px;
    background-image: url(../img/ico_blog.svg);
}

.FooterMenu{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:26px 20px;
    width:25%;
    height: 332px;
    border-right:1px solid black;
}

.FooterMenu::before{
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterMenu::after{
    position: absolute;
    bottom:0px;
    left:50%;
    transform: translateX(-50%);
    width:95%;
    height: 1px;
    background-color: black;
    content: "";
}

.FooterMenuList-item{
    margin-bottom:20px;
}

.FooterMenuList-item a{
    font-size: 18px;
    font-weight: 500;
}

.FooterMenuBtn{
    position: relative;
    padding:20px;
    width:100%;
    text-align: start;
    border: none;
    box-sizing: border-box;
    background-color: #f7f7f7;;
}

.FooterMenuBtn a{
    font-size: 18px;
    font-weight: 500;
}

.FooterMenuBtn a::after{
    position: absolute;
    top:50%;
    right: 5%;
    transform: translateY(-50%);
    width: 15px;
    height: 8px;
    background-size: 15px 8px;
    background-image: url(../img/ico_family_arrow.svg);
    content: "";
}

/* FooterCopy ====================================*/
.FooterCopy{
    text-align: center;
    padding:32px 0px 40px 0px;
    font-size: 18px;
}

/* 대형 태블릿 디바이스 */
@media screen and (min-width : 1024px) and (max-width : 1440px){
    .menu-wrap{
        display: inline-flex;
    }

    .menu-wrap li {
        padding:18px 15px;
    }

    .menu-wrap li a{
        font-size: 13px;
    }

    .HeaderSearch{
        right:6%;
        margin-right:20px;
    }

    .HeaderSearch-link{
        width:21px;
        height: 20px;
    }
    
    .HeaderSearch-link a{
        width:21px;
        height: 20px;
        background-size: 21px 20px;
    }

    .lang-wrap li{
        font-size: 13px;
    }

    .Hero{
        height: 411px;
    }


    .HeroSlide-subtext{
        font-size: 20px;
        margin-bottom:10px;
    }

    .HeroSlideTitleText{
        font-size: 47px;
        line-height: 1.4em;
    }

    .HeroSlideTextInfo div{
        font-size: 19px;
    }

    .HeroSlideArrow{
        width: 164px;
        height: 147px;
        background-size: 164px 147px;
    }

    .HeroSlide-thumb-category{
        right: -100px;
    }

    .HeroSlide-thumb-category div{
        font-size: 20px;
        font-weight: 500;
    }

    .HeroSlide-thumb-category::after{
        top:-10px;
        right: 270px;
        width:130px;
        height: 40px;
    }

    .site-container{
        height:140px;
    }

    .MainGuideTitle{
        width:25%;
        height: 100%;
        box-sizing: border-box;
    }

    .MainGuideInfo-cate-title-text{
        font-size: 13px;
    }

    .MainGuideInfo-title-text{
        font-size: 20px;
    }

    .MainGuideInfo::before{
        bottom:25%;
        width:86px;
        height: 68px;
        background-size: 86px 68px;
    }

    .MdGuide{
        padding:30px;
        width: 75%;
        box-sizing: border-box;
    }

    .MdGuideInfo-cate-title-text{
        font-size: 13px;
        line-height:normal;
    }

    .MdGuideInfo-title-text h3{
        font-size: 20px;
        line-height:normal;
    }

    .MdGuideList-list li{
        width:150px;
        margin-right: 20px;
    }

    .MdGuideList-item-ico-Parking::before{
        width:41px;
        height: 51px;
        background-size: 41px 51px;
    }

    .MdGuideList-item-ico-Directions::before{
        width:37px;
        height: 51px;
        background-size: 37px 51px;
    }

    .MdGuideList-item-ico-Amenities::before{
        width:52px;
        height: 48px;
        background-size: 52px 48px;
    }

    .MdGuideList-title{
        font-size: 15px;
    }

    .MainEventSlide{
        margin-bottom:125px;
        min-height: 947px;
    }

    .MainEventSlideTitle-text{
        font-size: 37px;
    }

    .MainEventSlideTitle-count{
        right: -40px;
        font-size: 22px;
    }

    .MainEventSlideItem{
        height: 320px;
    }

    .MainEventSlideItem-inner{
        padding:20px;
        width: 100%;
        height: 320px;
    }

    .MainEventSlideTitle{
        height: 283px;
    }

    .MainEventSlideItem-inner-title{
        margin-bottom:150px;
    }

    .MainEventSlideItem-inner p{
        font-size: 12px;
    }

    .MainEventSlideItem-inner-title{
        font-size: 1.4rem;
    }

    .MainEventSlideItem-inner-date{
        font-size: 15px;
    }

    .MainEventSlideItem-img img{
        width: 100%;
        height: 320px;
    }

    .MainEvnetSlideMobileIndicator{
        display: none;
       }

    .MainTicket-inner-title{
        margin-bottom:130px;
    }

    .MainTicket-inner-title-text{
        font-size: 36px;
    }

    .MainTicket-inner-title-count{
        right: -30px;
        font-size: 22px;
    }

    .MainTicket-inner-slide{
        height: auto;
        padding:59px 0px 35px 0px;
    }

    .MainTicket-inner-slide-wrap{
        height: auto;
    }

    .MainTicket-inner-slide-btn-left{
        right: 70px;
        width: 52px;
        height: 37px;
        background-size: 52px 37px;
    }

    .MainTicket-inner-slide-btn-right{
        width: 52px;
        height: 37px;
        background-size: 52px 37px;
    }

    .MainTiceket-img-container{
        height: 646px;
    }

    .MainTiceket-img-container img{
        height: 100%;
    }

    .MainTicketItem{
        height: 263px;
    }

    .MainTicketItemLeft{
        height: 263px;
    }

    .MainTicketItemLeft-bg{
        width: 43px;
        height: 202px;
    }

    .MainTicketItemLeft-bg::after{
        left:1px;
        bottom:-31px;
        width: 42px;
        height: 32px;
        background-size: 42px 32px;
    }
    .MainTicketItemLeft-bg::before{
        left:1px;
        top:-31px;
        width: 42px;
        height: 32px;
        background-size: 42px 32px;
    }

    .MainTicketItemInner{
        height: 263px;
    }

    .MainTicketItemRight{
        height: 263px;
    }

    .MainTicketItemRight-bg{
        width: 43px;
        height: 202px;
    }

    .MainTicketItemRight-bg::after{
        bottom:-31px;
        width: 42px;
        height: 32px;
        background-size: 42px 32px;
    }
    .MainTicketItemRight-bg::before{
        top:-31px;
        width: 42px;
        height: 32px;
        background-size: 42px 32px;
    }

    .MainTicketItemInner-title{
        padding:13px 0px 43px 34px;
    }

    .MainTicketItemInner-title-text{
        font-size: 22px;
        height: 62px;
    }

    .MainTicketItemInner-info-item-title{
        font-size: 10px;
        margin-bottom:11px;
    }

    .MainTicketItemInner-info{
        margin-top:10px;
    }

    .MainTicketItemInner-info-item-Dday{
        font-size: 28px;
    }

    .MainTicketItemInner-info-item-date{
        font-size: 14px;
    }

    .MainTicketItemInner-info-item-locate{
        font-size: 14px;
    }

    .MainTicketItemInner-info-btn-list-item{
        padding:13px 17px;
    }

    .MainTicketItemInner-info-btn-list-item a{
        font-size: 11.5px;
    }

    .MainTicketItemInner-info-bg-img{
        width:150px;
        height: 25px;
    }

    .MainTicket-inner-slide-wrap-indicator span{
        width: 9px;
        height: 9px;
    }

    .MainNews{
        padding: 92px 0px 107px;
    }

    .MainNewsTitle{
        width:34%;
    }

    .MainNewsTitle-title{
        font-size: 37px;
    }

    .MainNewsTitle-info{
        margin-top:18px;
    }

    .MainNewsTitle-info a{
        font-size: 13px;
    }

    .MainNewsListInfo-list-item a{
        font-size: 18px;
    }

    .MainNewsList-list-item-link{
        padding: 17px 13px;
    }

    .MainNewsList-list-item-date-day{
        font-size: 36px;
    }

    .MainNewsList-list-item-date-month{
        font-size: 11px;
    }

    .MainNewsList-list-item-title h4{
        font-size: 19px;
    }

    .MainMediaText{
        width:40%;
        padding:100px 0px;
    }

    .MainMediaText-title{
        height: 40%;
        font-size: 50px;
    }

    .MainMeduaMetaList-list-item a{
        font-size: 23px;
    }

    .MainMediaMetaSub{
        margin-top:100px;
    }

    .MainMediaMetaSub-text{
        font-size: 50px;
    }

    .MainMediaList{
        max-width: 600px;
        padding-top:80px;
    }

    .MainMedia-column{
        margin: 10px;
        max-width: 273px;
        max-height: 273px;
    }

    .MainMedia-column:nth-child(5){
        margin-left: 303px;
    }

    
    .MainMeiaBackgroundImg img{
        min-height: 1000px;
    }

    .FooterFlex{
        height: 280px;
    }

    .FooterInfo{
        height: 100%;
        box-sizing: border-box;
    }

    .FooterInfo-inner-logo{
        margin-bottom:27px;
    }

    .FooterInfoAddress li{
        font-size: 13px;
    }

    .FooterInfoTel{
        padding:11px;
    }

    .FooterInfoTel a{
        font-size: 13px;
    }

    .FooterNav-list-item{
        padding: 18px 0px 0px 14px;
        height: 140px;
    }

    .FooterNav-list-item a{
        font-size: 16px;
    }

    .FooterLink{
        height: 280px;
        box-sizing: border-box;
    }

    .FooterInfoList-item{
        font-size: 13px;
    }

    .FooterMenu{
        height: 280px;
        box-sizing: border-box;
    }

    .FooterMenuList-item{
        margin-bottom:10px;
    }

    .FooterMenuList-item a{
        font-size: 13px;
    }

    .FooterMenuBtn{
        padding:13px;
    }

    .FooterMenuBtn a{
        font-size: 13px;
    }

    .FooterCopy{
        font-size: 13px;
    }
}

/* 소형 태블릿 디바이스 */
@media screen and (min-width : 748px) and (max-width : 1024px){
    .HeaderInfo{
        position: relative;
        max-width:95%;
    }

    .Logo{
        left:50%;
        transform: translate(-50%, -50%);
    }

   .menu-wrap{
    position: absolute;
    display:none;
    top:30px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: black;
    z-index: 99999;
   }

   .menu-wrap li{
    margin:0px 20px;
    border-bottom: 1px dashed #707070;
   }

   .menu-item-102{
    position: relative;
   }

   .menu-item-102-sub-menu{
    position: static;
    display:block;
    justify-content: flex-start;
    margin:20px 0px 0px 0px;
    color:#fff;
    border-bottom: none;
   }

   .menu-item-102-sub-menu li{
    margin: 0px;
    padding:18px 0px;
    border-bottom: none;
   }

   .menu-item-102-sub-menu li a:hover{
   text-decoration: none;
   }

   .menu-item-102-sub-menu li a{
    font-size: 15px;
    color: #fff;
   }

   .ResponseNav{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    display:block;
    font-size: 25px;
    border: none;
    color:#fff;
    background-color: transparent;
   }

   .HeaderSearch{
    margin-right:20px;
   }

   .HeaderSearchBar{
    background-color: #000;
   }

   .lang-wrap li{
    font-size: 15px;
   }

   .HeaderSearch-link a{
    width:26px;
    height: 25px;
    background-size: 26px 25px;
   }

   .Hero{
    height: auto;
   }

   .HeroSlide{
    position: relative;
    display: block;
    z-index: -1;
   }

   .HeroSlide-text{
    position: relative;
    width:100%;
    margin-bottom:20px;
    z-index: -1;
   }
 
   .HeroSlide-subtext{
    font-size: 18px;
   }

   .HeroSlideTitleText{
    min-height: 92px;
    font-size: 37px;
    line-height: normal;
   }

   .HeroSlideTextInfo div{
    font-size: 17px;
    line-height: normal;
   }

   .HeroSlideTextInfo{
    position: static;
   }

   .HeroSlideArrow{
    top:0%;
    right:0%;
    width: 160px;
    height: 116px;
    background-size: 160px 116px;
   }

   .HeroSlide-thumb{
    width:100%;
   }

   .HeroSlide-thumb-wrap img{
    width:100%;
   }

   .HeroSlide-thumb-category{
    display:none;
   }

   .HeroSlide-thumb-indicator{
    right:auto;
    left:50%;
    transform: translateX(-50%);
   }

   .site-container{
    flex-direction: column;
   }

   .MainGuideFlex{
    margin-top:40px;
   }

   .MainGuideTitle{
    padding:33px 27px;
    width: 100%;
    box-sizing: border-box;
   }

   .MainGuideInfo-cate-title-text{
    font-size: 15px;
   }

   .MainGuideInfo-title-text{
    font-size: 20px;
   }

   .MainGuideInfo::before{
    bottom:30%;
    right:5%;
    width:99px;
    height: 71px;
    background-size: 99px 71px;
   }

   .MdGuide{
    flex-direction: column;
    padding: 33px 27px;
    width:100%;
    box-sizing: border-box;
   }

   .MdGuideTitle{
    margin-bottom:30px;
    padding:0px;
    width:100%;
   }

   .MdGuideInfo-cate-title-text{
    font-size: 15px;
    line-height: normal;
   }

   .MdGuideInfo-title-text h3{
    font-size: 20px;
    line-height: normal;
   }

   .MdGuideList{
    width:100%;
    height: auto;
   }

   .MdGuideList-list li {
    width:30%;
   }

   .MdGuideList-title{
    font-size: 15px;
   }

   .MdGuideList-item-ico-Parking::before{
    width:47px;
    height: 59px;
    background-size: 47px 59px;
   }
   
   .MdGuideList-item-ico-Directions::before{
    width:42px;
    height: 63px;
    background-size: 42px 63px;
   }

   .MdGuideList-item-ico-Amenities::before{
    width: 60px;
    height: 55px;
    background-size: 60px 55px;
   }

   .MainEventSlide{
    min-height:731px;
   }

   .MainEventSlideTitle{
    max-height: 189px;
   }

   .MainEventSlideItem{
    height: 224px;
   }

   .MainEventSlideItem-inner{
    padding:28px 22px;
    width: 100%;
    height: 224px;
   }

   .MainEventSlideItem-inner-title{
    height: 78px;
    margin-bottom:50px;
    font-size: 18px;
   }

   .MainEventSlideItem-inner-date{
    font-size: 13px;
   }

   .MainEventSlideItem-img img{
    width:100%;
    height: 224px;
   }

   .MainEvnetSlideMobileIndicator{
    display: none;
   }

   .MainTicket-inner-title{
    margin-bottom:20px;
   }

   .MainTicket-inner-title-text{
    font-size: 39px;
   }

   .MainTicket-inner-title-count{
    right: -30px;
    font-size: 22px;
   }

   .MainTicket-inner-slide{
    width:100%;
   }

   .MainTiceket-img-container img{
    min-height: 680px;
   }

   .MainTicket-inner-slide-btn-left{
    right: 70px;
    width:52px;
    height: 37px;
    background-size: 52px 37px;
   }

   .MainTicket-inner-slide-btn-right{
    width:52px;
    height: 37px;
    background-size: 52px 37px;
   }

   .MainNewsTitle{
    width: 30%;
   }

   .MainNewsTitle-title{
    font-size: 39px;
   }

   .MainNewsTitle-info{
    margin-top:10px;
   }

   .MainNewsTitle-info a{
    font-size: 16px;
   }

   .MainNewsListInfo-list-item a{
    font-size: 18px;
   }

   .MainNewsList-list-item a{
    padding:22px 13px;
   }

   .MainNewsList-list-item-date-day{
    font-size: 33px;
   }

   .MainNewsList-list-item-date-month{
    font-size: 13px;
   }

   .MainNewsList-list-item-title{
    padding-left:30px;
   }

   .MainNewsList-list-item-title{
    font-size: 18px;
   }

   .MainMediaText-title{
    font-size: 48px;
    height: auto;
   }

   .MainMeduaMetaList{
    margin-top:50px;
   }

   .MainMeduaMetaList-list-item{
    margin-bottom:20px;
   }
   
   .MainMeduaMetaList-list-item a{
    font-size: 18px;
   }

   .MainMediaMetaSub{
    margin-top:50px;
   }

   .MainMediaMetaSub-text{
    font-size: 30px;
   }

   .MainMediaList{
    display: none;
   }

   .MainMeiaBackgroundImg img{
    min-height: 500px;
   }

   .TopButton{
    top:-15%;
   }

   .FooterFlex{
    flex-wrap: wrap;
   }
   .FooterInfo{
    width:50%;
    height: 279px;
    box-sizing: border-box;
   }

   .FooterInfoAddress li{
    font-size: 15px;
   }

   .FooterInfoTel{
    padding:11px 13px;
   }

   .FooterInfoTel a{
    font-size: 13px;
   }

   .FooterNav{
    width:50%;
   }

   .FooterNav-list-item{
    padding:15px 11px;
    height: 139px;
    box-sizing: border-box;
   }

   .FooterNav-list-item:nth-child(2){
    border-right: none;
   }

   .FooterNav-list-item:nth-child(4){
    border-right: none;
   }

   .FooterNav-list-item a{
    font-size: 18px;
   }

   .FooterLink{
    width:50%;
    box-sizing: border-box;
   }

   .FooterLink::before{
    display: none;
   }

   .FooterInfoList-item{
    font-size: 15px;
   }

   .FooterMenu{
    width:50%;
    border-right: none;
    box-sizing: border-box;
   }

   .FooterMenuList-item a{
    font-size: 15px;
   }

   .FooterMenuBtn{
    padding:17px;
   }

   .FooterMenuBtn a{
    font-size: 15px;
   }

   .FooterMenu::before{
    display: none;
   }

   .FooterCopy{
    font-size: 15px;
   }

}

/* 스마트폰 디바이스 */
@media screen and (max-width : 748px){
    .HeaderInfo{
        position: relative;
        max-width:95%;
    }

    .Logo{
        left:50%;
        transform: translate(-50%, -50%);
        
    }

   .menu-wrap{
    position: absolute;
    display:none;
    top:30px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: black;
    z-index: 99999;
   }

   .menu-wrap li{
    margin:0px 20px;
    border-bottom: 1px dashed #707070;
   }

   .menu-item-102{
    position: relative;
   }

   .menu-item-102-sub-menu{
    position: static;
    display:block;
    justify-content: flex-start;
    margin:20px 0px 0px 0px;
    color:#fff;
    border-bottom: none;
   }

   .menu-item-102-sub-menu li{
    margin: 0px;
    padding:18px 0px;
    border-bottom: none;
   }

   .menu-item-102-sub-menu li a:hover{
   text-decoration: none;
   }

   .menu-item-102-sub-menu li a{
    font-size: 13px;
    color: #fff;
   }

   .ResponseNav{
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    display:block;
    font-size: 25px;
    border: none;
    color:#fff;
    background-color: transparent;
   }

   .HeaderSearch{
    right:0%;
    margin-right:0px;
   }

   .HeaderSearchBar{
    background-color: black;
   }

   .SiteLang{
    display:none;
   }

   .HeaderSearch-link a{
    width:26px;
    height: 25px;
    background-size: 26px 25px;
   }

   .Hero{
    height: auto;
   }

   .HeroSlide{
    position: relative;
    display: block;
    z-index: -1;
   }

   .HeroSlide-text{
    position: relative;
    width:100%;
    margin-bottom:20px;
    z-index: -1;
   }
 
   .HeroSlide-subtext{
    font-size: 18px;
   }

   .HeroSlideTitleText{
    min-height: 110px;
    font-size: 37px;
    line-height: normal;
   }

   .HeroSlideTextInfo div{
    font-size: 17px;
    line-height: normal;
   }

   .HeroSlideTextInfo{
    position: static;
   }

   .HeroSlideArrow{
    display:none;
   }

   .HeroSlide-thumb{
    width:100%;
   }

   .HeroSlide-thumb-wrap img{
    width:100%;
   }

   .HeroSlide-thumb-category{
    display:none;
   }

   .HeroSlide-thumb-indicator{
    right:auto;
    left:50%;
    transform: translateX(-50%);
   }

   .HeroSlide-thumb-indicator span{
    width:9px;
    height: 9px;
   }

   .site-container{
    flex-direction: column;
   }

   .MainGuideFlex{
    margin-top:0px;
    margin-bottom: 80px;
   }

   .MainGuideTitle{
    padding:24px 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
   }
   .MainGuideInfo-cate-title-text{
    margin-bottom:11px;
    font-size: 12px;
    line-height: normal;
   }

   .MainGuideInfo-title-text{
    font-size: 19px;
   }

   .MainGuideInfo::before{
    bottom:11%;
    right:5%;
    width:99px;
    height: 71px;
    background-size: 99px 71px;
   }

   .MdGuide{
    flex-direction: column;
    padding: 24px 20px;
    width:100%;
    box-sizing: border-box;
   }

   .MdGuideTitle{
    margin-bottom:0px;
    padding:0px;
    width:100%;
   }

   .MdGuideInfo-cate-title-text{
    font-size: 12px;
    line-height: normal;
   }

   .MdGuideInfo-title-text h3{
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
   }

   .MdGuideList{
    margin-top:30px;
    width:100%;
    height: auto;
   }

   .MdGuideList-list li {
    width:30%;
   }

   .MdGuideList-title{ 
    display: inline-flex;
    font-size: 9px;
    padding-bottom: 6px;
   }

   .MdGuideList-item-ico-Parking::before{
    bottom: 0px;
    width:19px;
    height: 30px;
    background-size: 19px 30px;
   }
   
   .MdGuideList-item-ico-Directions::before{
    bottom: 0px;
    width:20px;
    height: 37px;
    background-size: 20px 37px;
   }

   .MdGuideList-item-ico-Amenities::before{
    bottom: 4px;
    width: 27px;
    height: 24px;
    background-size: 27px 24px;
   }

   .MainEventSlide{
    position: relative;
    min-height: auto;
    margin-bottom: 100px;
   }

   .MainEventSlideTitle{
    display: inline-flex;
    flex-direction: column;
    width:100%;
    height: auto;
    float: none;
   }

   .MainEventSlideTitle-text{
    font-size: 30px;
   }

   .MainEventSlideTitle-count{
    position: static;
    margin-left:10px;
    font-size: 17px;
   }

   .MainEventSlideTitleInfo{
    position: static;
    display: inline-flex;
    margin: 30px 0px;
    padding: 0px;
   }

   .MainEventSlideTitleInfo-click{
    position: relative;
    font-size: 12px;
    padding:0px 19px 0px 25px;
   }

   .MainEventSlideTitleInfo-click::before{
    left:0px;
    bottom:0px;
    width: 20px;
    height: 14px;
    background-size: 20px 14px;
   }

   .MainEventSlideTitleInfo-click::after{
    right:0px;
   }

   .MainEventSlideWrap{
    display: flex;
    transition: all 1s;
   }

   .MainEventSlideItem{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    float: none;
    width:100%;
    height: auto;
   }

   .MainEventSlideItem-img{
    position: static;
    opacity: 1;
    border-left: 1px solid black;
   }

   .MainEventSlideItem-img img{
    width:100%;
    height: 100%;
   }

   .MainEventSlideItem-inner{
    justify-content: flex-start;
    padding:17px 27px 34px 27px;
    border-left: 1px solid black;
   }

   .MainEventSlideItem-inner::before{
    height: 1px;
   }

   .MainEventSlideItem-inner::after{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #000;
    content: "";
   }

   .MainEventSlideItem-inner-cate-purple{
    margin-bottom: 5px;
    font-size: 12px;
   }

   .MainEventSlideItem-inner-cate-pink{
    margin-bottom: 5px;
    font-size: 12px;
   }

   .MainEventSlideItem-inner-title{
    margin:0px;
    height: 48px;
    font-size: 17px;
   }

   .MainEventSlideItem-inner-date{
    font-size: 12px;
   }

   .MainEvnetSlideMobileIndicator{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom:-8%;
    left:50%;
    width:100%;
    transform: translateX(-50%);
   }

   .MainEvnetSlideMobileIndicator span{
    display: inline-block;
    margin:0px 5px;
    width:10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e8e8e8;
    cursor: pointer;
   }

   .MainEvnetSlideMobileIndicator .focus{
    background-color: #000;
   }

   .MainTicket{
    min-height: 830px;
   }

   .MainTiceket-img-container img{
    min-height: 830px;
   }

   .MainTicket-inner-title{
    margin-bottom:0px;
   }

   .MainTicket-inner-title-text{
    font-size: 30px;
   }

   .MainTicket-inner-title-count{
    position: static;
    margin-left:15px;
    font-size: 17px;
   }

   .MainTicket-inner-slide{
    margin:0px;
    padding: 40px 0px;
    width:100%;
    height: auto;
   }

   .MainTicket-inner-slide{
    width:70%;
    margin: auto;
   }

   .MainTicket-inner-slide-btn-left{
    right:50px;
    width:38px;
    height: 24px;
    background-size: 38px 24px;
   }

   .MainTicket-inner-slide-btn-right{
    width:38px;
    height: 24px;
    background-size: 38px 24px;
   }

   .MainTicketItem{
    padding:0px 19px;
    overflow: hidden;
   }

   .MainTicketItemInner{
    flex-direction: column;
    padding:32px 13px;
    height: auto;
   }

   .MainTicketItemLeft{
    width:19px;
   }
   .MainTicketItemRight{
    width:19px;
   }

   .MainTicketItemLeft-bg{
    width:19px;
    height:94.5%;
   }

   .MainTicketItemLeft-bg::before{
    top:-17px;
    width:19px;
    height: 19px;
    background-size: 19px;
   }
   .MainTicketItemLeft-bg::after{
    bottom:-17px;
    width:19px;
    height: 19px;
    background-size: 19px;
   }

   .MainTicketItemRight-bg{
    width:19px;
    height:94.5%;
   }

   .MainTicketItemRight-bg::before{
    top:-17px;
    left:1px;
    width:19px;
    height: 19px;
    background-size: 19px;
   }
   .MainTicketItemRight-bg::after{
    bottom:-17px;
    width:19px;
    height: 19px;
    background-size: 19px;
   }

   .MainTicketItemInner-img-container{
    width: 100%;
   }

   .MainTicketItemInner-img-container img{
    width:100%;
   }

   .MainTicketItemInner-title{
    width:100%;
    min-height: 280px;
    margin-top:20px;
    padding:0px;
   }

   .MainTicketItemInner-title-text{
    font-size: 18px;
    height: auto;
   }

   .MainTicketItemInner-info-list{
    flex-wrap: wrap;
   }

   .MainTicketItemInner-info-item{
    float: left;
    margin-bottom:10px;
    width:50%;
   }

   .MainTicketItemInner-info-item-title{
    margin-bottom:5px;
    font-size: 11px;
   }

   .MainTicketItemInner-info-item-Dday{
    font-size: 13px;
   }

   .MainTicketItemInner-info-item-date{
    font-size: 13px;
   }

   .MainTicketItemInner-info-item-locate{
    font-size: 11.5px;
   }

   .MainTicketItemInner-info-btn-list-item{
    padding:12px;
   }

   .MainTicketItemInner-info-btn-list-item a{
    font-size: 12px;
   }

   .MainTicketItemInner-info-btn{
    left:0px;
    bottom:10%;
   }

   .MainTicketItemInner-info-bg-img{
    right:0px;
    bottom:0%;
    width:90px;
    height: 15px;
   }

   .MainTicket-inner-slide-wrap-indicator{
    display:flex;
    justify-content: center;
    width:100%;
   }

   .MainNews{
    padding:80px 0px;
   }

   .MainNewsTitle{
    display: flex;
    align-items: center;
    margin-bottom:20px;
    width:100%;
    float: none;
   }

   .MainNewsTitle-title{
    font-size: 30px;
   }

   .MainNewsTitle-info{
    margin:20px 0px 0px 20px;
   }

   .MainNewsTitle-info a{
    font-size: 13px;
   }

   .MainNewsListInfo{
    padding-bottom:20px;
   }

   .MainNewsListInfo-list-item a{
    font-size: 13px;
   }

   .MainNewsList-list-item-date-day{
    font-size: 26px;
   }

   .MainNewsList-list-item-date-month{
    font-size: 13px;
   }

   .MainNewsList-list-item-title{
    padding-left:20px;
    font-size: 14px;
    line-height: 20px;
   }

   .MainMediaText{
    padding:50px 0px;
    width: 100%;
    height: auto;
   }

   .MainMediaText-title{
    font-size: 40px;
    height: 30%;
   }

   .MainMeduaMetaList{
    margin-top:30px;
   }

   .MainMeduaMetaList-list-item{
    margin-bottom:30px;
   }

   .MainMeduaMetaList-list-item a{
    font-size: 13px;
   }

   .MainMediaMetaSub{
    margin-top:30px;
   }

   .MainMediaMetaSub-text{
    font-size: 30px;
   }

   .MainMediaList{
    display:none;
   }


   .MainMeiaBackgroundImg img{
    min-height: 480px;
   }
   
   .TopButton{
    top:-8%;
   }

   footer{
    margin-top:80px;
   }

   .FooterFlex{
    flex-wrap: wrap;
   }

   .FooterInfo{
    width:100%;
    height: auto;
    border: none;
   }

   .FooterInfoAddress li{
    font-size: 15px;
   }

   .FooterInfoTel{
    margin-top:20px;
    padding:12px 20px;
   }

   .FooterInfoTel a{
    font-size: 13px;
   }

   .FooterInfo::after{
    display:none;
   }

   .FooterNav{
    width:100%;
   }

   .FooterNav-list-item{
    height: 150px;
   }

   .FooterNav-list-item a{
    font-size: 15px;
   }

   .FooterNav-list-item:nth-child(2n){
    border: none;
   }

   .FooterLink{
    width:50%;
    height: 200px;
    padding:22px 12px 13px 12px;
    box-sizing: border-box;
   }

   .FooterLink::before{
    display:none;
   }

   .FooterLink::after{
    display:none;
   }

   .FooterInfoList-item{
    font-size: 13px;
   }

   .FooterSns{
    display:none;
   }

   .FooterMenu{
    width:50%;
    height: 200px;
    padding:22px 12px 13px 12px;
    box-sizing: border-box;
    border: none;
   }

   .FooterMenu::before{
    display:none;
   }

   .FooterMenu::after{
    display:none;
   }

   .FooterMenuList-item a{
    font-size: 13px;
   }

   .FooterMenuLink{
    display:none;
   }

   .FooterCopy{
    font-size: 12px;
   }
}


